# Typically already connect. Redis most likely wont need to reach past this instance, unless you have replicas
REDIS_URL=redis://localhost:6379

## Options to adapt, each
DB_CONNECTION_URL=postgres://xinity:PASSWORD@localhost/xinity
INSTANCE_ADMIN_EMAILS=user1@example.com,user2@example.com

## Optional add on options
# MAIL_URL=smtps://username%40example.com:urlencoded%20password@smtp.example.com:465
# MAIL_FROM=sender@example.com