DB_CONNECTION_URL=postgresql://tester:example@localhost/default
REDIS_URL=redis://localhost:6379
WEB_SEARCH_ENGINE_URL=http://localhost:6148/search
MAIL_FROM="App Name <noreply@example.com>"
# Generate with: openssl rand -base64 33
BETTER_AUTH_SECRET=
